<!DOCTYPE html>
<html>
<head>
    <title>Pan Book Shop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0 maximum-scale=1.0" />
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/darkly/bootstrap.min.css" rel="stylesheet" integrity="sha384-S7YMK1xjUjSpEnF4P8hPUcgjXYLZKK3fQW1j5ObLSl787II9p8RO9XUGehRmKsxd" crossorigin="anonymous">    <link rel="stylesheet" href="style.css" type="text/css" />
</head>
<body>
<DIV id="app"><%- reactComponent -%></DIV>
<script>window.INITIAL_STATE=<%- initialState -%></script>
<script src="boudle.js"></script>
</body>
</html>
